.Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    width: 100%;
    height: 100%;

}

.Sub,
.Add {
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FCBF49;
    color: #000;
    margin: 0 3px;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 5px #000;
    transition: all 0.3s ease;
}

.Add:hover,
.Sub:hover {
    background-color: #F5F5F5;
    color: #000;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
}

.Sub {
    background-color: #F5F5F5;
    color: #000;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
}

.Count {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}
