.Meal {
    /* 开启弹性盒 */
    display: flex;
    /* 设置外边距 */
    margin: 0.5rem 0;
    /* 设置内边距 */
    padding: 0.5rem;
    /* 设置背景颜色 */
    background-color: #fff;
    /* 设置边框 */
    border-radius: 1rem;
    /* 设置阴影 */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-bottom: 1px #f2f2f2 solid;
    /* 设置动画效果 */
    animation: fadeIn 0.5s ease-in-out;
    /* 设置动画延迟 */
    animation-delay: 0.1s;
    /* 设置动画持续时间 */
    animation-duration: 0.5s;
    /* 设置动画重复次数 */
    animation-iteration-count: 1;
    /* 设置动画重复方式 */
    animation-direction: normal;
    /* 设置动画填充模式 */
    animation-fill-mode: forwards;
    /* 设置辅轴的对齐方式 */
    align-items: center;
}

.ImgBox {
    width: 10rem;
}

img {
    width: 100px;
}

.Title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.Desc {
    font-size: 1rem;
    margin: 1rem 0;
    color: #999;
    text-align: justify;
}

.DescBox {
    flex: auto;
}

.PriceWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.Price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;

}

.Price::before {
    content: "￥";
    font-size: 1rem;
    margin-right: 0.5rem;
}
