.checkout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #eee;
    padding: 1rem;
}

.meals {
    height: 50rem;
    overflow: auto;
}

.close {
    font-size: 2rem;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close:hover {
    color: #000;
    cursor: pointer;
}

.MealsDesc {
    background-color: #fff;
    border-radius: 20px;
    padding: 0 1rem;
}

.header {
    border-bottom: 1px solid #f2f2f2;
    font-size: 1rem;
    height: 5rem;
    align-items: center;
    display: flex;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.footer {
    position: relative;
    height: 6rem;
    border-top: 1px solid #f2f2f2 dashed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.footer::before,
.footer::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: #eee;
    border-radius: 50%;
    top: -1rem;
    left: -3rem;
}

.footer::after {
    left: auto;
    right: -3rem;
}

.totalPrice {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    display: flex;
    justify-content: flex-end;
}

.totalPrice::before {
    content: "Total: ";
    font-weight: 600;
    margin-right: 1rem;
}

.totalPrice::after {
    content: "￥";
    font-weight: 600;
    margin-left: 1rem;
}
